doctype html
html 
    head        
      title Mayondo Wood and Furniture Ltd.
    header
      nav.navbar 
        h1.logo Mayondo Wood and Furniture Ltd.
        ul.nav-links
          li 
            a(href="/") Home
          li
            a(href="/register_user") User Registration
          li 
            a(href="/login") Login 
block content



   
