extends layout
block content
  head
    meta(charset='UTF-8')
    title Register Furniture Sale
    link(rel="stylesheet", href="/css/furniture.css")
  header
    h1 Furniture Sale 
  section
    form(action='/reg_furnituresale' method='POST')
      label Customer Name:
      input(type='text' name='customerName' required='')
      label Furniture Type:
      select(name="furnitureType")
        option(value='' disabled='' selected='') Select Furniture Type
        option(value='chair') Chair
        option(value='table') Table
        option(value='sofa') Sofa
        option(value='bed') Bed
        option(value='wardrobe') Wardrobe
        option(value='dresser') Dresser
        option(value='cupboard') Cupboard
        option(value='dining_set') Dining set
        option(value='cabinet') Cabinet
      label Material:
      select(name='material')
        option(value='' disabled='' selected='') Select Material
        option(value='mahogany') Mahogany
        option(value='acacia') Acacia
        option(value='oak') Oak
        option(value='pine') Pine
        option(value='douglas_fir') Douglas Fir 
        option(value='spruce') Spruce 
        option(value='mvule') Mvule
        option(value='eucalyptus') Eucalyptus
      label Quantity:
      input(type='number' name='quantity' required='')
      label Furniture Price (per unit): 
      input(type="number" name="furniturePrice" required='')
      label Sale Date:
      input(type='date' name='saleDate' required='')
      label Payment Type 
      select(name='paymentType')
        option(value='' disabled='' selected='') Select Payment Type
        option Cash
        option Cheque 
        option Bank overdraft
      label Transport Provided
      select(name='transportProvided')
        option(value='' disabled='' selected='') Select Transport Option
        option(value='true') Yes
        option(value='false') No
      label Sales Agent Name 
      input(type='text' name='agentName' required='')
      button(type='submit') Register Furniture Sale




 
