extends layout 
block content
  head
    meta(charset='UTF-8')
    title Register Wood Stock
    link(rel='stylesheet' href='/css/wood.css')
  header
    h1 Register Wood Stock
  section
    form(action='/register_wood' method='POST')
      label Wood Name:
      select(name="woodName" required='')
        option(value='' disabled='' selected='') Select Wood Name
        option Mahogany
        option Acacia
        option Oak
        option Pine
        option Douglas Fir 
        option Spruce 
        option Mvule
        option Eucalyptus
      label Wood Type:
      select(name="woodType")
        option(value='' disabled='' selected='') Select Wood Type
        option Hardwood
        option Softwood
        option Timber 
        option Poles
      label Quantity (in logs):
      input(type='number' name='quantity' required='')
      label Supplier:
      input(type='text' name='supplier' required='')
      label Cost Price (per log):
      input(type='text' name='unitPrice' required='')  
      label Date Received:
      input(type='date' name='dateReceived' required='')
      label Sale Price (per log):
      input(type="text" name="salePrice" required='')
      button(type='submit') Register Wood Stock
  script(src='/js/mayondo.js')
