extends layout
block content
    head
        meta(charset='UTF-8')
        title Sales Agent Dashboard 
        link(rel='stylesheet' href='/css/dashboard.css')
    header
        h1 Sales Agent Dashboard
        h3 Welcome #{currentUser.fullName}!
    nav.sidebar
        ul.sidebar-links
            li
                a(href='/reg_woodsale') Register Wood Sale
            li 
                a(href='/reg_furnituresale') Register Furniture Sale
            li 
                a(href='/wood_list') Wood Stock List
            li 
                a(href='/furniture_list') Furniture Stock List
            li 
                a(href='/logout') Logout
