extends layout
block content
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title Registered Users 
    link(rel="stylesheet", href="/css/user.css")
  header
    h1 User list 
    <table class="table table-success table-striped-columns">
      thead 
        tr
        th Name 
        th Email 
        th Role 
      tbody 
        if users.length > 0
          each item in users
            tr  
              td #{item.fullName}
              td #{item.email}
              td #{item.role}
    </table>
  


