body {
background: url('/images/user.jpg') no-repeat center center/cover;
font-family: 'Poppins', sans-serif;
}

header {
background-color:  rgba(0, 64, 0, 0.65);
color: white;
text-align: center;
padding: 15px;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex; 
justify-content: center; 
background-color: rgba(34, 139, 34, 0.85); 
}

nav ul li {
margin: 0 20px;
}

nav ul li a {
text-decoration: none;
color: white;
font-weight: bold;
font-size: 1.1em;
transition: color 0.3s;
}

nav ul li a:hover {
color: gold;
}

form {
background-color: rgba(255,255,255,0.9);
width: 40%;
margin: 60px auto;
padding: 30px;
border-radius: 8px;
}

label {
display: block;
margin-top: 10px;
font-weight: bold;
}

input, select, button {
width: 100%;
padding: 10px;
margin-top: 5px;
border: 1px solid #ccc;
border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
background-color: green;
color: white;
border: none;
margin-top: 20px;
cursor: pointer;
}

table {
width: 100%;
margin: 30px auto;
border-collapse: collapse;
border: 1px solid #ccc;
}

th, td {
padding: 12px;
border: 1px solid #ccc;
text-align: left;
}
