<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Register User</title>
<link rel="stylesheet" href="css/user.css">
</head>
<body>
<header>
<h1>Register a New User</h1>
<a href="landing.html">← Back to Home</a>
</header>

<section>
<form>
<label>Full Name:</label>
<input type="text" required>

<label>Email:</label>
<input type="email" required>

<label>Role:</label>
<select required>
<option>Sales Agent</option>
<option>Manager</option>
<option>Warehouse Attendant</option>
</select>

<label>Password:</label>
<input type="password" required>

<button type="submit">Register User</button>
</form>
</section>
<script src="js/mayondo.js"></script>
</body>
</html>
